@import "src/styles/scroll";

$maxHeight: calc(100vh - 126px);

.image-detail-container {
  width: calc(100% - ((100vh - 190px) / 3 * 4));
  float: left;
  min-height: 100px;
  padding-right: 1rem !important;
}

.change-label {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 81px);

  .bounding-list {
    width: calc(100% * (2 / 9));

    .bounding-list__content {
      max-height: calc(100% - 45px - 80px);
      padding-right: 10px;

      @extend .custom-scrollbar;
      @extend .custom-scrollbar-show;

      .ant-list-empty-text {
        display: none;
      }
    }
  }


  .review-image-container {
    width: calc(100% * (5.5 / 9) - 20px);
    margin: 0 10px;
  }

  .tab-title.ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 10px;

      .ant-tabs-tab {
        padding-top: 5px;

        .ant-tabs-tab-btn {
          cursor: default;
        }
      }
    }
  }

  .image-relate {
    width: calc(100% * (2.5 / 9));
    padding-left: 5px;

    .image-relate__content {
      height: calc(100% - 45px);
    }

    .image-relate__pagination {
      height: 40px;
      display: flex;

      .ant-pagination {
        margin: auto auto 0 0;
      }
    }

    .image-relate__list {
      height: calc(100% - 40px);
      margin: -3px;
      padding: 3px;
      //margin-right: 30px;

      @extend .custom-scrollbar;
      @extend .custom-scrollbar-show;

      .loading-component {
        overflow: visible;
      }

      .image-relate__item {
        display: flex;
        margin: 5px 0 5px 5px;

        padding: 7.5px 0;
        //border: 1px solid transparent;
        //border-radius: 10px;

        &:first-child {
          margin-top: 0;
          padding-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .image-relate__img {
          cursor: pointer;
          float: left;
          width: calc(50% + 6px);
          margin: -3px;
          border: 3px solid transparent;

          &.active {
            border-color: #FF9C08;
          }

          &:hover {
            border-color: #88A2F9;
          }
        }

        .image-relate__bounding {
          float: left;
          padding-left: 10px;
          width: calc(50% - 10px);

          .ant-tag:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.review-image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  float: left;
  text-align: -webkit-center;

  .image-container {
    //height: $maxHeight;
    max-width: calc((100vh - 126px) * (4 / 3));

    > div {
      overflow: hidden;
    }

    .view-image {
      //min-width: 100%;
      user-select: none;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      transform: translate(-50%, -50%) scale(1);
      top: 50%;
      left: 50%;
      position: absolute;
      object-fit: contain;
    }

    .canvas-container {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    /* Bắt đầu: CSS cho Crosshair */
    .crosshair-line-vertical,
    .crosshair-line-horizontal {
      position: absolute;
      background-color: red;
      pointer-events: none; /* Rất quan trọng: để không bắt sự kiện chuột */
      display: none; /* Mặc định ẩn */
      z-index: 1; /* Đảm bảo nó nằm trên ảnh nhưng dưới canvas vẽ */
    }

    .crosshair-line-vertical {
      top: 0;
      bottom: 0;
      width: 1px;
    }

    .crosshair-line-horizontal {
      left: 0;
      right: 0;
      height: 1px;
    }
    /* Kết thúc: CSS cho Crosshair */

  }
}

#js-tooltip,
.js-tooltip {
  text-decoration: none;
  position: fixed;
  z-index: 99999;
  padding: 3px 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15%;
}

.device-list {
  .ant-list-item {
    padding: 4px 0 !important;
    //margin-left: 9px;

    .device-item {
      font-weight: 500;
      cursor: pointer;
      width: 100%;

      .device-item__info {
        width: 100%;

        .device-item__name {
          max-width: calc(100% - 100px);
          padding: 5px 0;
          float: left;

          &:hover {
            color: #eb2f96;
          }
        }

        .device-item__action-container {
          //width: 136px;
          cursor: default;
          height: 32px;
          display: flex;
          float: right;

          .device-item__action-item {
            margin: auto 0;
          }

          .tag-action {
            float: left;
            margin-top: auto;
            margin-bottom: auto;

            &:last-child {
              margin-right: 0 !important;
            }
          }
        }

        &:after {
          content: "";
          clear: both;
          display: table;
        }
      }

      &.active {
        color: #2f54eb;
        font-weight: 700;

        .weirdo-item {
          color: #f5222d;
          font-weight: 500;
        }
      }

      .weirdo-item {
        font-weight: 400;
      }

      &:hover,
      &:hover .weirdo-item {
        color: #eb2f96;
      }
    }
  }
}

.bounding-list {
  float: left;
  //margin-left: 30px;

  .ant-form-item {
    margin-bottom: 10px;
  }
}

.tag-action {
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;

  &:not(:last-child) {
    margin-right: 8px;
    //margin-bottom: 8px;
  }

  // &:nth-child(:last-child) {
  //   margin-right: 0;
  // }

  &[disabled] {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);

    :hover {
      opacity: unset;
    }
  }

  .tag-action__icon,
  > span.anticon {
    height: 20px;
    width: 12px;

    > * {
      margin: auto;
    }
  }
}


@media screen and(min-width: 1200px) and (max-width: 1599.98px) {
  .change-label {
    .bounding-list {
      width: calc(100% * (2.5 / 9));
    }

    .review-image-container {
      width: calc(100% * (5 / 9));
    }

    .image-relate {
      width: calc(100% * (2.5 / 9));

      .image-relate__item .ant-image {
        .ant-image-img {
          width: 150px;
          height: calc(150px / 4 * 3);
        }

        .image-relate__bounding, .image-relate__bounding * {
          font-size: 12px !important;
        }
      }
    }
  }
}
